//--- general classes ----//
.header-department{
    margin-bottom: 50px;
}

.space-bottom{
    margin-bottom: 100px;
}

.side-img{
    width: 100%;
    height: 560px;
    object-fit: cover;
}


//---- Waterpolo ----//
.wp-color{
    color: var(--secondary-coler);
}

.bg-img{
    background-image: url("/storage/img/g20.png");
    background-size: cover;
    max-width: 100%;
    padding: 100px 0;

}
.indicators-wp{
    width: .625rem;
    height: .625rem;
    cursor: pointer;
    border-radius: 50%;
}
.bal{
    margin-top: 50px;

    .balls{
        margin-top: 20px;
        margin-bottom: 15px;
    }
}

.speelveld{
    width: 100%;
    padding-left: 90px;
}

//---- Zwemmen ----//

.traning{
    padding-right: 20px;
}
.swimming-attributes{
    margin: 10px 0;

    .attributes{
        width: 100%;
        height: 150px;
        object-fit: scale-down;
        margin-bottom: 10px;
    }
    .name-attribute{
        margin: 10px 0;
    }
}

.swiper-container {
    width: 100%;
    height: 100vh;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.main-slider .slider-bg-position {
    background-size: cover!important;
    background-position: center center!important;
}
.main-slider .swiper-button-prev, .main-slider .swiper-button-next {
    background-image: none!important;
    color: #fff;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}
.main-slider h2 {
    color: #fff;
    font-size: 54px;
    line-height: 59px;
    padding: 0 19%;
    text-transform: uppercase;
}
.main-slider .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background: rgba(255,255,255,0.9)
}
.main-slider .swiper-pagination-bullet-active {
    background: #0297ff
}




//---- Receatief ----//
.zelfstandig-rec{
    margin-bottom: 50px;
}
.rec-img{
    padding-left: 20px;
    width: 100%;
    height: 300px;
    object-fit: cover;
}
