
:root {
    --primary-color: #CB1417;
    --primary-hover-color: #ad1417;
    --secondary-coler: #0064B0;
    --bg-color: white;
    --box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.7);
}

body{
    background-color: white;
}

nav{
    -webkit-box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.32);
    box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.32);
}

.margins-con{
    margin-top: 50px;
    margin-bottom: 50px;
}

.bg-switch{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #FAFAFA;
}

.spaceing{
    margin-bottom: 120px;
}



h1{
    font-family: "Helvetica Neue", sans-serif;
    color: var(--primary-color);
    font-size: 60px;
}

h2{
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 32px;
}

h3{
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
    color: var(--primary-color);
    font-size: 28px;
    margin-bottom: 1rem;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

p{
    margin-bottom: 0.2rem;
}

.card-body{
    background-color: white;
}

.modal-body{
    padding: 1rem 1rem 1.25rem;
}

//----- Navbar ----//
.navbar{
    padding: 0.5rem 0;
}
.nav-line{
    border: var(--primary-color) 2px solid;
    width: 5%;
    margin: 0;
}

.nav-item{
    margin-left: 5%;
}

.nav-elementen{
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: var(--primary-color);

    a :hover{
        color: var(--primary-color);
        text-decoration: var(--primary-color),  underline;
    }
}

.nav-link:hover{
    color: var(--primary-color);
}

//----- Buttons ----//

.prim-btn {
    color: var(--primary-color);
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 0.75rem;
    transition: all 0.5s;
    padding: 5px 30px;
}

.prim-btn:hover {
    color: white;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 0.75rem;
    transition: all 0.5s;
    padding: 5px 30px;
}

.second-btn{
    color: white;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 0.75rem;
    transition: all 0.5s;
    padding: 5px 30px;
}

.second-btn:hover {
    color: white;
    background-color: var(--primary-hover-color);
    border: 2px solid var(--primary-hover-color);
    border-radius: 0.75rem;
    transition: all 0.5s;
    padding: 5px 30px;
}

.modal-btn{
    width: 100%;
}

//---- Footer ----//


.bg-footer {
    background-image: url("/storage/img/footer.png");
    background-size: cover;
    width: 100%;
    padding-top: 100px;
    position: relative;
    z-index: 999;
    margin-top: -95px;


    .li-footer {
        width: fit-content;
        display: inline-block;

        svg {
            width: 70%;
            fill: #ffffff;
        }
    }
}

.dashboard-footer {
    max-width: 90%;
    margin: 50px auto 20px auto;
    opacity: 0.3;

    .col {
        padding: 0;
    }
}

//---- Banner ----///

.banner{
    width: 100%;
    height: auto;
    object-fit: cover;
}
