#banner {
    background-image: url("/storage/img/21.png");
    background-size: cover;
    width: 100%;
    height: 700px;
    color: rgba(255, 255, 255, 0.75);

        .banner-inner{
            text-align: center;
            display: block;
            margin: 320px auto 300px;
        }

        .banner-inner h1{
            font-family: "Helvetica Neue",sans-serif;
            font-weight: bold;
            line-height: 60px;
            margin-bottom: 30px;
        }
    .arrow{
        margin-top: 10px;
        width: 60px;
        height: auto;
    }
}

.select-card{
    border: 0;
    border-radius: 0;
    display: flex;
    -webkit-box-shadow: 5px 5px 24px -8px rgba(0,0,0,0.13);
    -moz-box-shadow: 5px 5px 24px -8px rgba(0,0,0,0.13);
    box-shadow: 5px 5px 24px -8px rgba(0,0,0,0.13);
    transition: all 0.5s;

    .select-card-body{
        font-size: 17px;

        .select-title{
            font-weight: bold;
            margin-bottom: 13px;
        }

        .card-img{
            max-width: 100%;
            height: 265px;
            object-fit: cover;
            padding-bottom: 20px;
        }

        .select-btn{
            font-size: 14px;
            display: block;
            margin: 20px auto 0;
        }
    }
}

.select-card:hover {
    -webkit-box-shadow: 5px 5px 24px -8px rgba(0,0,0,0.35);
    -moz-box-shadow: 5px 5px 24px -8px rgba(0,0,0,0.35);
    box-shadow: 5px 5px 24px -8px rgba(0,0,0,0.35);
    transition: all 0.5s;
}

//----- c2a ----//

.c2a {
    display: flex;

    .c2a-inner {
        opacity: 1;
        position: absolute;
        max-width: 100%;

        .c2a-text{
            font-weight: bold;
            font-size: 32px;
            margin-bottom: 30px;
        }

        .c2a-btn {
            padding: 10px 40px!important;
            font-size: 16px;
            border-radius: 1rem;
        }
    }
}
#foto1 {
    background-image: url("/storage/img/thuisbad.png");
    height: 40vh;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}



//---- Promo_video ----//
.col-pad {
    padding-right: 60px;
}

.pro-vid {
    width: 100%;
    height: 230px;
}

#basis-carousel {
    margin: 50px 0 100px ;

    .carousel-img {
        width: 24%;
        padding: 20px;
    }
}
