//---- About Page ----//
.imgCarousel{
    width: 33%;
    object-fit: cover ;
    padding: 0 10px 0 0;
}



//---- Bestuur ----//

.board-img{
    display: block;
    margin: 0 auto;

}

.center-btn{
    display: block;
    margin: 10px auto 0 ;
}
//---- FAQ ----//
.arrow_down{
    width: 20px;
}

//---- Contact ----//
.contact{
    padding-top: 20px;
    padding-right: 100px;

    .form-control{
        margin-bottom: 20px;
    }

}
.sidebar{
    background-color: var(--primary-color);
    padding: 20px 30px 10px;
    color: white;

    .members{
        margin-bottom: 22px;
    }
}



